/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


h1{color:#d63031 ;
font: size 36px; ;
font-weight: bold;
font-family: 'Nunito', sans-serif; 
padding: 30px;
margin: 0;}


body{background-color: #b2bec3;
font-size: 18px;
font-family: 'Nunito', sans-serif;
margin 0;
padding-bottom: 30px;
position: relative;}

.foto{border: 3px solid white;
border-radius: 150px;
width: 150px;
height: 150px;}

.obdelnik{background-color: white;
background-position: center;
border-radius: 10px;
width: 550px;
margin: 0;
position: absolute;
left: 150px;
top: 150px;
}



/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

